In [2]:
import numpy as np
import pandas as pd
from scipy import stats

In [9]:
stats.norm.interval(0.95,loc=1990,scale=2500/np.sqrt(140))

(1575.8820248378292, 2404.1179751621708)

In [30]:
mean, n, std, pstd = 1990, 140, 2833, 2500

In [28]:
t1 = stats.t.ppf(0.975,n-1)

In [29]:
print(f"[{mean - t1 * (std / np.sqrt(n))}, {mean + t1 * (std / np.sqrt(n))}]")

[1516.5999869168315, 2463.4000130831682]

In [25]:
stats.t.interval(0.95,n-1, mean, std / (np.sqrt(n)))

(1516.5999869168315, 2463.4000130831682)

In [32]:
z1 = stats.norm.ppf(0.975)

1.959963984540054

In [37]:
print(f"[{mean - z1 * (pstd / np.sqrt(n))}, {mean + z1 * (pstd / np.sqrt(n))}]")

[1575.8820248378292, 2404.1179751621708]

In [36]:
stats.norm.interval(0.95,1990,2500/np.sqrt(n))

(1575.8820248378292, 2404.1179751621708)

In [38]:
beml = pd.read_csv("../../datasets/BEML.csv")

In [40]:
beml = beml[["Date","Close"]]

In [46]:
beml["Gain"] = beml.Close.pct_change()
beml = beml.drop(0)

In [57]:
gain_mean = beml.Gain.mean()
gain_std = beml.Gain.std()
n1 = 1738

In [58]:
t2 = stats.t.ppf(0.975,n1-1)

In [65]:
print(f"[{gain_mean - t2 * (gain_std / np.sqrt(n1))}, {gain_mean + t2 * (gain_std / np.sqrt(n1))}]")

[-0.0009727260513203973, 0.0015142222094348626]

In [62]:
stats.t.interval(0.95,n1 - 1,gain_mean,gain_std)

(-0.051568851771367774, 0.05211034792948224)

In [72]:
print(f"[{gain_mean - z1 * gain_std}, {gain_mean + z1 * gain_std}]")

[-0.051532729680601415, 0.05207422583871588]

In [67]:
z1

1.959963984540054

In [71]:
stats.norm.interval(0.95,gain_mean,gain_std)

(-0.051532729680601415, 0.05207422583871588)

In [76]:
#Critical Value
t = ((130 - 120) / (40 / np.sqrt(80)))

2.23606797749979

In [79]:
stats.t.sf(t,79)

0.014084316277010771

In [89]:
2 * stats.t.cdf(-0,49)

1.0

In [87]:
(4.1 - 4) / (3 / np.sqrt(50))

0.235702260395515

In [92]:
stats.ttest_1samp([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418],0.3)[1] / 2

0.029265164842448826

In [94]:
0.03 < 0.05

True

In [96]:
stats.ttest_ind([91,87,99,77,88,91],[110,101,103,93,99,104])[1]

0.006272124350809803

In [97]:
stats.ttest_ind([110,101,103,93,99,104],[91,87,99,77,88,91])[1]

0.006272124350809803

In [113]:
n1 = 247
p1 = 0.37

n2 = 308
p2 = 0.39

In [124]:
population1 = np.random.binomial(1,p1,n1)
population2 = np.random.binomial(1,p2,n2)

In [125]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1,population2)

(0.42380501361733947, 0.671872816273329, 553.0)

In [126]:
sm.stats.ttest_ind(population1,population2)

(0.42380501361733947, 0.671872816273329, 553.0)

In [127]:
sm.stats.ttest_ind(population1,population2)

(0.42380501361733947, 0.671872816273329, 553.0)

In [1]:
#-----------------Assignment------------------------------

In [5]:
cutlets = pd.read_csv("Cutlets.csv")
cutletA, cutletB = cutlets["Unit A"], cutlets["Unit B"]

In [33]:
#Q1

In [34]:
#First we have to check the normality of two group
print(stats.shapiro(cutletA),"\n" ,stats.shapiro(cutletB))

ShapiroResult(statistic=0.9649459719657898, pvalue=0.31998491287231445)
 ShapiroResult(statistic=0.9727305769920349, pvalue=0.5225146412849426)

In [35]:
#Conduct levene test to find  homogeneity of variances assumption for two  
stats.levene(cutletA,cutletB)

LeveneResult(statistic=0.6650897638632386, pvalue=0.4176162212502553)

In [36]:
test_statistic, pValue= stats.ttest_ind(cutletA,cutletB)

In [10]:
if pValue <= 0.05:
    print("Significance difference. (H1)")
else:
    print("No Significance difference (H0)")

No Significance difference (H0)

In [37]:
#Q2

In [38]:
labTAT = pd.read_csv("labTAT.csv")

In [40]:
labTAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [42]:
#one-way ANOVA test
stats.f_oneway(labTAT.iloc[:,0], labTAT.iloc[:,1], labTAT.iloc[:,2], labTAT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [55]:
#Q3
buyerRatio = pd.read_csv("BuyerRatio.csv")

In [56]:
obs = buyerRatio.iloc[:,1:6].values

In [61]:
stats.chi2_contingency(obs)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [63]:
#Q4
df = pd.read_csv("Costomer+OrderForm.csv")

In [81]:
df.head(2)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective

In [95]:
dict = {}

for column in df.columns:
    print(column)
    dict[column] = {df[column].value_counts().index[i] : df[column].value_counts().values[i] for i in range(len(df[column].value_counts()))}

Phillippines
Indonesia
Malta
India

In [98]:
Q4_data = pd.DataFrame(dict)
Q4_data

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [99]:
stats.chi2_contingency(Q4_data.values)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))